In [1]:
import pandas as pd
import xml.etree.ElementTree as et

def intr_docs(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('row'):
        doc_dict = attr.copy()
        doc_dict.update(xml.attrib)
        yield doc_dict

etree1 = et.parse(r'D:\DOC\COLLEGE DOC\NOTES\Archit and manag\Stack exchange\stackexchange\Users.xml')
doc1 = pd.DataFrame(list(intr_docs(etree1.getroot())))
doc1.to_csv('Users.csv')

etree2 = et.parse(r'D:\DOC\COLLEGE DOC\NOTES\Archit and manag\Stack exchange\stackexchange\PostHistory.xml')
doc2 = pd.DataFrame(list(intr_docs(etree2.getroot())))
doc2.to_csv('PostHistory.csv')

df1 = pd.read_csv('users.csv')
df2 = pd.read_csv('PostHistory.csv')

In [2]:
df1.head(3)

,Unnamed: 0,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
0,0,-1,1,2014-05-13T21:29:22.820,Community,2014-05-13T21:29:22.820,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",189,825,1757,-1.0,NaN
1,1,1,101,2014-05-13T22:58:54.810,Adam Lear,2021-06-04T19:34:41.850,NaN,"New York, NY",\n<p>Developer at Stack Overflow focusing on p...,714,0,0,37099.0,https://i.stack.imgur.com/8gs0B.png?s=128&g=1
2,2,2,101,2014-05-13T22:59:19.787,Geoff Dalgas,2019-09-03T19:10:22.217,http://stackoverflow.com,"Corvallis, OR",<p>Dev #2 who helped create Stack Overflow cur...,9,0,0,2.0,https://i.stack.imgur.com/nDllk.png?s=128&g=1

In [3]:
df2.head(2)

,Unnamed: 0,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text,ContentLicense,Comment,UserDisplayName
0,0,7,2,5,009bca93-fce2-44ed-a277-a8452650a627,2014-05-13T23:58:30.457,5.0,I've always been interested in machine learnin...,CC BY-SA 3.0,NaN,NaN
1,1,8,1,5,009bca93-fce2-44ed-a277-a8452650a627,2014-05-13T23:58:30.457,5.0,How can I do simple machine learning without h...,CC BY-SA 3.0,NaN,NaN

In [4]:
df1.shape

(104894, 14)

In [5]:
df2.shape

(206744, 11)

In [6]:
df1.dtypes

Unnamed: 0           int64
Id                   int64
Reputation           int64
CreationDate        object
DisplayName         object
LastAccessDate      object
WebsiteUrl          object
Location            object
AboutMe             object
Views                int64
UpVotes              int64
DownVotes            int64
AccountId          float64
ProfileImageUrl     object
dtype: object

In [7]:
df2.dtypes

Unnamed: 0             int64
Id                     int64
PostHistoryTypeId      int64
PostId                 int64
RevisionGUID          object
CreationDate          object
UserId               float64
Text                  object
ContentLicense        object
Comment               object
UserDisplayName       object
dtype: object

In [8]:
df2['PostHistoryTypeId'].value_counts()

2     64849
5     33510
1     30752
3     30336
50    27269
24     6669
6      4492
4      3885
10     2170
33      500
34      499
52      456
12      266
13      266
16      246
36      182
11      109
8       106
19       86
14       22
15       18
7        18
35       15
9         7
53        7
38        6
37        2
20        1
Name: PostHistoryTypeId, dtype: int64

In [14]:
df1['Reputation'].value_counts()

1        58303
101      28228
11        3039
111       1495
21        1439
         ...
10263        1
2278         1
274          1
1894         1
1791         1
Name: Reputation, Length: 887, dtype: int64

In [11]:
col1 = df1['Reputation']
col2 = df2['PostHistoryTypeId']

In [12]:
correlationcofficient = col1.corr(col2)

In [13]:
correlationcofficient

-0.010703152516227901